

.EmploymentExperience__container {
    color: black;
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateX(-250px);
    transition: transform 0.5s, opacity 1s;
}
.EmploymentExperience__header {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: space-between;
}

.EmploymentExperience__experience {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1rem);

}
.EmploymentExperience__dates {
    backdrop-filter: blur(1rem);
}
.EmploymentExperience__highlights {
    margin-left: 1.5rem;
    backdrop-filter: blur(1rem);
    max-width: 600px;
    height: 100%;

}

.EmpExp__border {
    border-radius: 1rem;
    border: rgba(39, 185, 245, 0.05) solid 0.01rem;
    padding: 0.5rem;
}

.loader {
    text-align: center;
}

.active {
    transform: translateX(0);
    opacity: 1 !important;
}